@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Dosis'sans-serif;
}

.slider {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	width: 100%;
}

.slider--content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90vh;
}

.slider--feature {
	text-align: center;
	z-index: 200;
}

.heart {
	background-image: url(../image/red-outline-heart.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 450px;
	height: 450px;
	position: absolute;
	opacity: .5;
	left: 50%;
	bottom: -40px;
	transform: translate(-50%, -50%);
	z-index: 100;
}

.slider--title {
	font-size: 7.5rem;
	color: #fff;
	font-family: 'Great Vibes', cursive;
	font-weight: 500;
	text-shadow: #000 5px 5px 5px;
}

.slider--text {
	font-size: 2rem;
	color: #fff;
	margin: 0.5rem 0;
	text-shadow: #000 5px 5px 5px;
}

.slider__btn-right,
.slider__btn-left {
	background: transparent;
	border: none;
	outline: none;
	font-size: 4rem;
	color: #eee;
	padding: 0 1rem;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
	opacity: .4;
}

.slider--btn {
	background: #fff;
	text-transform: uppercase;
	border: none;
	color: #444;
	border: 1px solid #444;
	outline: none;
	font-weight: 700;
	padding: 0.8rem 2rem;
	cursor: pointer;
}

.slider__btn-left:hover,
.slider__btn-right:hover {
	transform: scale(0.95);
}

@media (max-width: 767px) {
	.slider--feature {
		position: absolute;
		top: 60%;
		left: 11%;
	}

	.slider--title {
		font-size: 2rem;
	}

	.slider__btn-right,
	.slider__btn-left {
		z-index: 300;
	}

	.heart {
		top: 70%;
		width: 350px;
		height: 350px;
		z-index: 50;
	}
	.slider--text{
		font-size: 1rem;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0.6;
	}

	100% {
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 1s;
}