@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}

body {
	font-family: 'Dosis'sans-serif;
}

.slider {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	width: 100%;
}

.slider--content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 90vh;
}

.slider--feature {
	text-align: center;
	z-index: 200;
}

.heart {
	background-image: url(../image/red-outline-heart.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	width: 450px;
	height: 450px;
	position: absolute;
	opacity: .5;
	left: 50%;
	bottom: -40px;
	transform: translate(-50%, -50%);
	z-index: 100;
}

.slider--title {
	font-size: 7.5rem;
	color: #fff;
	font-family: 'Great Vibes', cursive;
	font-weight: 500;
	text-shadow: #000 5px 5px 5px;
}

.slider--text {
	font-size: 2rem;
	color: #fff;
	margin: 0.5rem 0;
	text-shadow: #000 5px 5px 5px;
}

.slider__btn-right,
.slider__btn-left {
	background: transparent;
	border: none;
	outline: none;
	font-size: 4rem;
	color: #eee;
	padding: 0 1rem;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
	opacity: .4;
}

.slider--btn {
	background: #fff;
	text-transform: uppercase;
	border: none;
	color: #444;
	border: 1px solid #444;
	outline: none;
	font-weight: 700;
	padding: 0.8rem 2rem;
	cursor: pointer;
}

.slider__btn-left:hover,
.slider__btn-right:hover {
	transform: scale(0.95);
}
.couple__love{
	background: #ffe2e5;
    padding: 0;
}
.text-center{
	text-align: center;
}
.group__button_payment .btn-container{
	margin-top: 20px;
    margin-bottom: 30px;
}
.group__button_payment .btn-container .group__button_payment-btn{
	padding: 15px 20px!important;
    min-width: 220px!important;
    margin: 10px 5px 0!important;
    font-size: .85rem!important;
    text-transform: uppercase;
}
.theme-btn{
	background-color: #f23b43;
    color: #fff;
    font-weight: bold;
    padding: 12px 30px;
    border: 0;
    outline: 0;
    display: inline-block;
    border-radius: 50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    text-transform: uppercase;
}
.couple__date{
	width: 100%;
	height: 600px;
	background-image: url(../image/wallpaperbetter.com_1920x1080.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 8rem;
}
.couple__date--content{
	display: flex;
	align-items: center;
	width: 100%;
	height: 50%;
}
.couple__date .couple__date--feature{
	text-align: center;
	width: 100%;
	height: 0%;
}
.couple__date .couple__date--feature .couple__date--title{
	font-size: 3.5rem;
	color: #fff;
	font-family: 'Great Vibes', cursive;
	font-weight: 500;
	text-shadow: #000 5px 5px 5px;
}
.couple__date .couple__date--feature .couple__date--text{
	font-size: 2rem;
	color: #fff;
	font-family: 'Great Vibes', cursive;
	font-weight: 500;
	text-shadow: #000 5px 5px 5px;
}
.couple__date .couple__date--feature .couple__date--text::before{
	content: "";
	border-top: 1px solid #fff;
	display: inline-block;
	margin: 5px 15px;
	width: 40px;
	height: 1px;

}
.couple__date .couple__date--feature .couple__date--text::after{
	content: "";
	border-top: 1px solid #fff;
	display: inline-block;
	margin: 5px 15px;
	width: 40px;
	height: 1px;
}

.clock-grids{
	color: #f14148;
}
.clock-grids #clock{
	overflow: hidden;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.clock-grids #clock .box{
	width: 176px;
	height: 176px;
	float: left;
	display: table;
	border: 3px solid #f23b43;
	border-radius: 50%;
	color: #000;
	background-color: rgb(255,255,255, 60%);
}
.clock-grids #clock .box .text-theme{
	font-size: 80px;
	color: #f23b43;
	font-family: 'Great Vibes', cursive;
	font-weight: 500;
}

.btn__play-audio{
	position: -webkit-sticky;
    position: sticky;
	bottom: 5%;
	margin-left: 1%;
}
.btn__play-audio i{
	background-color: #f23b43;
    padding: 20px;
    border-radius: 50%;
	cursor: pointer;
}

@media (max-width: 767px) {
	.slider--feature {
		position: absolute;
		top: 60%;
		left: 11%;
	}

	.slider--title {
		font-size: 2rem;
	}

	.slider__btn-right,
	.slider__btn-left {
		z-index: 300;
	}

	.heart {
		top: 70%;
		width: 350px;
		height: 350px;
		z-index: 50;
	}
	.slider--text{
		font-size: 1rem;
	}
	.couple__date{
		height: 850px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0.6;
	}

	100% {
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 1s;
}